@model IEnumerable<ClientAgent.ViewModel.MissionVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Missions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentNickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentXPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentYPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetXPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetYPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentNickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentXPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentYPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetXPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetYPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Assign", "Assign", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
